.completo-input {
  border: 1px solid #000;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 1rem;
  height: 1.25rem;
  padding: 1px 2px 1px 2px;
}

.completo-input:focus {
  outline: none;
}

.completo-list {
  border-radius: 0;
  box-sizing: border-box;
}

.completo-list.open {
  border: 1px solid #000;
  border-top: 0;
}

.completo-list.closed {
  border: none;
}

.completo-list-item {
  border-radius: 0;
  font-family: sans-serif;
  font-size: 1rem;
  height: 1.25rem;
  padding: 1px 2px 1px 2px;
}
